<%- include('layouts/header.ejs') %>

<div class="row">


    <h1 class="page-header"><%=product.title%></h1>
    <div class="col-xs-12 col-md-5">
        <img src="../public/product_images/<%=product._id%>/<%=product.image%>" alt="image"><br>
    </div>

    <div class="col-xs-12 col-md-7"> 

        <p><%=product.discription%></p>
        <p>$<%=parseFloat(product.price).toFixed(2)%></p>
        <a href="/api/cart/add/<%=product.slug%>">Add to Cart</a>
    </div>

    <div class="col-xs-12">
        <ul class="gallery">

            <%images.forEach((image)=>{ %>
            <% if(image != 'thumbnail'){%>

                <li>
                        <a href="/src/public/product_images/<%= product._id%>/gallery/<%=image%>">

                        <img src="../public/product_images/<%=product._id%>/gallery/thumbnail/<%=images%>" alt=""><br>
            
                    </a>
                </li>

            <%} %>

            <%})%>
        </ul>
    </div>



</div>


<%- include('layouts/footer.ejs')  %>