<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    <form action="/signup" method="post">
        <label for="name">
            Name : <input type="text" id="username" name="name" value="{{name}}" required>
        </label>
        <label for="email">
            Email : <input type="email" id="useremail" name="email" value="{{email}}" required>
        </label>
        <label for="number">
            Phone number : <input type="number" id="user phone number" name="phone" value="{{number}}"required>
        </label>
        <label>Addres : <input type="text" id="addres of user" name= "addres" value = '{{adress}}' required></label>

        <label>Hobbies : <input type="text" id="hobbies of user" name= "hobbies" value = '{{hobbies}}' required></label>
        <hr>
        
            <input type="submit" value="submit">
        
    </form>
    
</body>
</html>