<%- include('../layouts/adminheader.ejs') %>

<h2 class="page-title text-center">Categories</h2>
<a href="/api/admin/categories/add-category" class="btn btn-primary">Add a new category</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <% categories.forEach((cat)=>{ %>

            <tr>
                <td><%= cat.title %> </td>
                <td><a href='/api/admin/categories/edit-category/<%= cat.slug %>'>Edit</a></td>
                <td><a href='/api/admin/categories/delete-category/<%= cat._id %>'>Delete</a></td>

            </tr>

        <% })  %>
    </tbody>
</table>


<%- include('../layouts/adminfooter.ejs')  %>