<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
  

<nav class="navbar-inverse nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " href="/api/user">Shoping cart</a>
    </div>
    <ul class="nav navbar-nav">
      <% pages.forEach(function(page){ %>

      <% if (page.slug == 'home') { %>
        <li><a href="/api/user"> <%= page.title %> </a></li>
      <%} else {%>
        <!-- <h1><%=page.slug%></h1> -->
      <li><a href="/api/<%= page.slug %>"> <%= page.title %> </a></li>
      <%}%>
      
      <% }) %>
    </ul>

    <ul class="nav navbar-nav navbar-right">          <!--for display products length in cart-->
      <li><a href="/api">SignUp</a></li>
      <!-- <li><a href="/api/login">Login</a></li> -->
      <li>
        <a href="/api/cart/checkout">MY Cart(

          <% if (typeof cart != 'undefined' ) {%>

            <%= cart.length %>

          <%}else{%>

                0
        <%}%>
        )</a>
      </li>
     
    </ul>

    
      
    <!-- <a href="/api/admin/pages">Admin</a> -->

  </div>
</nav>
  



<div class="container">

  <div class="row">

    <div class="col-xs-12 col-md-3">

        <h3>Categories</h3>
        <ul class="list-group">
          <li class="list-group-item"><a href="/api/products/view">All products</a></li>

          <% categories.forEach((cat)=>{ %>

            <li class="list-group-item"><a href="/api/products/<%= cat.slug %>"><%= cat.title %></a></li>

        <% }) %>
        </ul>

    </div>
  
    <div class="col-xs-12 col-md-1"></div>

    <div class="col-xs-12 col-md-8">

   

